---
http_interactions:
- request:
    method: get
    uri: https://api.gathercontent.com/accounts/123456
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YmEzNkBueXUuZWR1OjdjY2ZjNzllLTVjNWEtNGJhOC04ZDFhLTg0ZWVmNDY4MzU2Ng==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"123456","name":"Example","slug":"example","timezone":"UTC"}}'
  recorded_at: Mon, 26 Feb 2018 04:08:03 GMT
- request:
    method: get
    uri: https://api.gathercontent.com/accounts/29785
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bXlsZXNAcmFpc2Vib29rLmNvbTpmYmY5ODdiYy0xNjMyLTRjYmQtOTYxMS1kNTBiN2RjM2NkOGU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"29785","name":"Raisebook","slug":"raisebook","timezone":"UTC"}}'
  recorded_at: Mon, 26 Feb 2018 05:37:49 GMT
recorded_with: VCR 3.0.3
