---
http_interactions:
- request:
    method: get
    uri: https://api.gathercontent.com/items/123456/files
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YW5kcmV3QGdhdGhlcmNvbnRlbnQuY29tOjJkMmE4YmY2LTA4YzAtNDllNi05NDYwLTI1MTM5ZmRiOGIyNA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":1,"user_id":1,"item_id":123456,"field":"abc123","type":"1","url":"http://link.to/filename.png","filename":"original.png","size":123456,"created_at":"2015-12-10 18:49:17","updated_at":"2015-12-10 18:49:17"}]}'
  recorded_at: Wed, 28 Feb 2018 02:36:24 GMT
recorded_with: VCR 3.0.3
