---
http_interactions:
- request:
    method: get
    uri: https://api.gathercontent.com/templates?project_id=123456
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YW5kcmV3QGdhdGhlcmNvbnRlbnQuY29tOjJkMmE4YmY2LTA4YzAtNDllNi05NDYwLTI1MTM5ZmRiOGIyNA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":123456,"project_id":123456,"created_by":123456,"updated_by":123456,"name":"Blog Theme","description":"Blog theme","used_at":"2015-08-26 17:03:20","created_at":1440604320,"updated_at":1440608600,"usage":{"item_count":1}}]}'
  recorded_at: Wed, 28 Feb 2018 02:51:14 GMT
recorded_with: VCR 3.0.3
