---
http_interactions:
- request:
    method: get
    uri: https://api.gathercontent.com/items/2027930
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YmEzNkBueXUuZWR1OjdjY2ZjNzllLTVjNWEtNGJhOC04ZDFhLTg0ZWVmNDY4MzU2Ng==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":2027930,"project_id":57459,"parent_id":2186086,"template_id":243138,"custom_state_id":241862,"position":"7","name":"Web
        Services","config":[{"label":"READ ME","name":"tab1440713097801","hidden":false,"elements":[{"type":"section","name":"el1440713129929","title":"Hurrah!
        Your department gets a new webpage, now what?","subtitle":"<h3>The new Libraries
        Website allows NYU Libraries\u00a0departments to have an easy-to-maintain\u00a0digital\u00a0presence.
        These pages\u00a0are designed to\u00a0highlight what our\u00a0departments\u00a0do
        and who we are;\u00a0better enabling users and the NYU community to utilize
        our\u00a0services. \u00a0<\/h3><p><br \/><\/p><p>We need your help to gather
        your department''s content and ensure it''s\u00a0up-to-date. \u00a0The User
        Experience team is running\u00a0workshops throughout the fall to introduce
        departments to the\u00a0new website design and to collect content for the
        site. \u00a0<\/p><p>Y\u200bour department''s content will be loaded into a
        development site (called a beta site) where we can test the site as a whole.
        \u00a0Testing will happen throughout[...]
