---
http_interactions:
- request:
    method: get
    uri: https://api.gathercontent.com/projects/123456/statuses/123456
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YW5kcmV3QGdhdGhlcmNvbnRlbnQuY29tOjJkMmE4YmY2LTA4YzAtNDllNi05NDYwLTI1MTM5ZmRiOGIyNA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"123456","is_default":true,"position":"1","color":"#C5C5C5","name":"Draft","description":"","can_edit":true}}'
  recorded_at: Tue, 27 Feb 2018 23:00:22 GMT
