---
http_interactions:
- request:
    method: get
    uri: https://api.gathercontent.com/items?project_id=57459
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YmEzNkBueXUuZWR1OjdjY2ZjNzllLTVjNWEtNGJhOC04ZDFhLTg0ZWVmNDY4MzU2Ng==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":2311530,"project_id":57459,"parent_id":0,"template_id":243138,"custom_state_id":241859,"position":"0","name":"KARMS","config":null,"notes":"","type":"item","overdue":false,"archived_by":null,"archived_at":null,"created_at":{"date":"2015-11-30
        17:23:13","timezone_type":3,"timezone":"UTC"},"updated_at":{"date":"2016-03-07
        22:12:36","timezone_type":3,"timezone":"UTC"},"status":{"data":{"id":"241859","is_default":true,"position":"1","color":"#c5c5c5","name":"Draft","description":"Collection
        information and writing content.  WHO: Staff and DMs","can_edit":true}},"due_dates":{"data":[]}},{"id":2266307,"project_id":57459,"parent_id":2311530,"template_id":243138,"custom_state_id":241859,"position":"1","name":"Archival
        Collections Managment","config":null,"notes":"","type":"item","overdue":false,"archived_by":null,"archived_at":null,"created_at":{"date":"2015-11-11
        17:35:16","timezone_type":3,"timezone":"UTC"},"updated_at":{"date":"2016-03-29
        17:45:18","timezone_type":3,"timezone":"UTC"},"status":{"data":{"id":"241859","is_default":true,"positio[...]
