---
http_interactions:
- request:
    method: get
    uri: https://api.gathercontent.com/items?project_id=57459
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YW5kcmV3QGdhdGhlcmNvbnRlbnQuY29tOjJkMmE4YmY2LTA4YzAtNDllNi05NDYwLTI1MTM5ZmRiOGIyNA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":123456,"project_id":123456,"parent_id":0,"template_id":null,"position":"11","name":"Home","notes":"","type":"item","overdue":true,"created_at":{"date":"2015-07-31 10:58:12.000000","timezone_type":3,"timezone":"UTC"},"updated_at":{"date":"2015-07-31 10:58:12.000000","timezone_type":3,"timezone":"UTC"},"status":{"data":{"id":"123456","is_default":true,"position":"1","color":"#C5C5C5","name":"Draft","description":"","can_edit":true}},"due_dates":{"data":[{"status_id":123456,"overdue":true,"due_date":{"date":"2015-07-02 12:00:00.000000","timezone_type":3,"timezone":"UTC"}},{"status_id":123457,"overdue":true,"due_date":{"date":"2015-07-03 16:00:00.000000","timezone_type":3,"timezone":"UTC"}}]}}]}'
  recorded_at: Fri, 17 Nov 2017 18:19:07 GMT
recorded_with: VCR 3.0.3
