---
http_interactions:
- request:
    method: get
    uri: https://api.gathercontent.com/accounts/123456
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YW5kcmV3QGdhdGhlcmNvbnRlbnQuY29tOjJkMmE4YmY2LTA4YzAtNDllNi05NDYwLTI1MTM5ZmRiOGIyNA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"123456","name":"Example","slug":"example","timezone":"UTC"}}'
  recorded_at: Mon, 26 Feb 2018 04:08:03 GMT
