---
http_interactions:
- request:
    method: get
    uri: https://api.gathercontent.com/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YW5kcmV3QGdhdGhlcmNvbnRlbnQuY29tOjJkMmE4YmY2LTA4YzAtNDllNi05NDYwLTI1MTM5ZmRiOGIyNA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"email":"andrew@gathercontent.com","first_name":"Andrew","last_name":"Cairns","timezone":"UTC","language":null,"gender":null,"avatar":"http://image-url.com"}}'
  recorded_at: Mon, 26 Feb 2018 04:08:03 GMT
recorded_with: VCR 3.0.3
